// 颜色标准
$themeC:#39b2e9; //系统主色，适用于按钮，文本框输入状态中边框颜色，提醒文字操作等处
$sidebg:#354053; //系统左侧栏底色
$asideItembg:#4e5768; // 系统左侧栏未选中状态底色，也可设置成白色降低至12%透明度
$emphasizeColor:#e99c39; // 强调色，本地仓库商品列表里问号的颜色
$textcolor:#333; // 文字主色
$errcolor:#fa5759; // 错误提示，例如密码输入错误时的边框提示以及文字提示颜色
$qian:#999; // 较浅的字体颜色（例文本框内提示性文字，或其他不重要文字）复选框未选中状态颜色
$bordercolor:#d7d7d7; // 文本框边框颜色，次重要按钮边框颜色
$gray:#f8f8f8; // 系统界面整体底色，列表页字段标题底色
$doneColor:#f4f4f4; // 下架商品样式底色，无需输入的文本框底色
$reminderbg:#fcf0e1; // 头部提醒框的颜色
$txtgray:#a7a7a7;
$white:#fff; // 白色

// 标准字体
$font24px:24px; // 弹框标题文字大小,建议行距36px
$font18px:18px; // 登录页文字大小,建议行距27px
$font16px:16px; // 列表页标题字段大小，按钮内字体大小,建议行距24px
$font14px:14px; // 主要文字的大小，页面大多文字使用这个字号,建议行距22px
$font12px:12px; // 提示性文字大小,建议行距18px

